div#my-modal.modal(ng-show='$scope.delete')
  .modal-header
      button.close(type='button', data-dismiss='modal', ng-click='$scope.delete=false;') ×
      h3 Are you sure?
    .modal-body
      p Are you sure you want to delete this post?
    .modal-footer
      a.btn(href='#', data-dismiss='modal', ng-click='$scope.delete=false;') Cancel
      a.btn.btn-primary(href='#', ng-click='deletePost()') Delete
