section#view-post
  h3 {{post.title}}
  div {{post.content}}
  div.form-actions
    a.btn.btn-primary(href='#', ng-click='editDialog()') Edit
    a.btn.btn-danger(href='#', ng-click='deleteDialog()') Delete

div#edit-post.hide
  include _form

include _comments
include _comment_form
include _delete_post
