extends layout
block body
  div.navbar
    div.navbar-inner.navbar-fixed-top
      div.container
        ul.nav
          li
            a(href='/') Home
          li
            a#new-post(href='/newPost') New post
  div.container
    header.jumbotron.subhead(id="overview")
      h1 Angular Blog
    div(ng-view)