// @import bootstrap

body
  padding-top: 30px
  position: relative

h1
  margin: 30px 0

pre
  font-family: courier
  background-color: rgba(0,0,0,.8)
  color: yellow
  width: 100%
  margin-bottom: 20px
  padding: 10px
  border: 1px solid black

.navbar-fixed-top .brand
  -moz-transition: all 0.2s linear 0s
  color: #000000
  float: right
  font-weight: bold
  margin-left: 20px
  padding-left: 0
  padding-right: 0
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125)

h2
  margin-top: 20px

a, a:hover, a:active
  h3
    color: #000000
  text-decoration: none

.btn
  margin-right: 10px

.comment-block
  display:block
  width:100%
  float:left
  padding-bottom: 10px
  // .comment-body
    
  .remove-comment
    padding-right:10px
    
  .cline i
    padding-right: 5px
    padding-bottom: 2px

#comments
  a, a:hover, a:active
    color: #000000
    text-decoration: none
